{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li>{{ category.name }}</li>
    </ul>
    {% for program in programs %}
        <h2><a href="{{ path('program_show', {slug: program.slug}) }}">{{ program.title }}</a></h2>
        <p>{{ program.summary }}</p>
    {% else %}
        Aucune série trouvée
    {% endfor %}
{% endblock %}