{% extends 'layoutEmail.html.twig' %}

{% block body %}
    <h1>Un nouveau programme {{ program.title }} est maintenant disponible</h1>
    <p>Bonjour, {{ program.title }} est désormait disponible  Wild Series</p>
    <p>Synopsis : {{program.summary }}
{% endblock %}