{% extends 'base.html.twig' %}

{% block title %}Ajout d'acteur{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Ajout d'acteur</h1>
    <div class="container form">
        {{ include('actor/_form.html.twig') }}
    </div>
{% endblock %}