{% extends 'base.html.twig' %}

{% block body %}
    <section class="accueil">
        <h1>Wild Series</h1>
        <a href="{{ path('program_index') }}">Voir la liste des programmes</a>
    </section>

{% endblock %}